name: Quality

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  golangci:
    name: GolangCI
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: GolangCI
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 10m
